body {
    margin: 0; /* elimino il margine di default */
}

.fasciaNera {
    background-color: black; /* colore di sfondo */
    color: white; /* colore del testo */
    /* imposto il contenuto della fascia tutto in mezzo  */
    display: flex; 
    justify-content: center; /* allinemento orizzontale */
    align-items: center; /* allineamento verticale */
    height: 5vh; /* altezza, in percentuale rispetto allo schermo */
    font-family: monospace; /* tipo di carattere */
    font-weight: bolder; /* grassetto */
}

/* seleziono tutti i button che stanno dentro al div fasciaBandiera */
.fasciaBandiera > button {
    border: none; /* elimino il bordo */
    background-color: transparent; /* sfondo trasparente */
}

/* imposto i pulsanti tutti a destra nella schermata  */
.fasciaBandiera {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    margin-right: 8%; /* margine a destra */
}

/* effetto che si sottolinea quando passo con il mouse  */
.fasciaBandiera > button:hover {
    text-decoration: underline; /* sottolineatura */
    cursor: pointer; /* cursore a dito */
}

/* imposto il logo come sfondo del div logo  */
.logo {
    background-image: url("./img/logo.png");
    background-size: contain; /* adatta l'immagine al div */
    background-repeat: no-repeat; /* non ripete l'immagine */
    height: 8vh;
    width: 20vh;
}

.fasciaSx {
    display: flex;
    align-items: flex-end;
    margin-left: 8%;
}

.menu > button {
    border: none; /* elimino il bordo */
    background-color: transparent; /* sfondo trasparente */
}
