body {
    margin: 0; /*tolgo tutti i margini automatici al body*/
}

 /*imposto header che sta fisso sopra*/
header {
    position: sticky;
    top: 0;
}

/* faccio il posizionamento dell'header  */
#menu {
    display: flex; /*allineo in orizzontale*/
    justify-content: center; /*distribuisco su tutto lo spazio*/
    align-items: center;
    height: 7vh; /*altezza in percentuale sulla schermata*/
    background-color:#1d1d1f;
}

/* chiamo tutti i button che stanno dentro al div che ha come id menu  */
#menu > button {
    background-color: #1d1d1f;
    border: none; /*nessun bordo*/
    color:rgba(255, 255, 255, .8); /*colore delle scritte*/
    padding-left: 10px;
    padding-right: 10px;
}

/* distanzio tutto con il padding a destra e sinistra  */
#menu > svg {
    padding-left: 10px;
    padding-right: 10px;
}

#menu > img {
    padding-left: 10px;
    padding-right: 10px;
}

/* imposto l'immagine come sfondo della prima sezione  */
#primaSezione {
    background-image: url("./img/iphone16.png");
    /* imposto una altezza per la sezione */
    height: 90vh;
    /* imposto l'immagine come cover dell'intera sezione */
    background-size: cover;
    background-repeat: no-repeat; /*immagine non si ripete*/
    display: flex;
    align-items: end; /*end significa in fondo, quindi stanno sotto nella schermata*/
    justify-content: center;
    padding-bottom: 5vh; /*spazio sotto tra i pulsanti e la fine dell'immagine*/
}

/* personalizzo i pulsanti  */
#pulsantiBlu {
    font-family: sans-serif;
    /*posiziono i pulsanti in mezzo*/
    display: flex;
    justify-content: center;
}

.scopri {
    color: white;
    background-color: #0071e3;
    border: 1px solid #0071e3;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    margin-right: 20px; /*distanzio i due pulsanti*/
}

.acquista {
    color: #0071e3;
    background-color: none;
    border: 1px solid #0071e3;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}

/* :hover serve a far succedere delle cose con il css quando vado sopra con il mouse  */
.acquista:hover {
    background-color: #0071e3;
    color: white;
    cursor: pointer;
}

#titoloProdotto {
    color: white;
    font-family: sans-serif;
    font-size: 70px;
    /*posiziono la scritta con position absolute perchè è un singolo elemento nella pagina*/
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* proprietà del banner  */
#banner {
    background-color: #161617;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* personalizzo il paragrafo dentro al banner  */
p {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
 
/* cambio colore e sottolineatura del link  */
#shop {
    color: #0071e3;
    /* tolgo la sottolineatura */
    text-decoration: none;
}

#secondaSezione {
    background-image: url("./img/iphone16blu.png");
    /* imposto una altezza per la sezione */
    height: 100vh;
    /* imposto l'immagine come cover dell'intera sezione */
    background-size: cover;
    background-repeat: no-repeat; /*immagine non si ripete*/
    display: flex;
    align-items: end; /*end significa in fondo, quindi stanno sotto nella schermata*/
    justify-content: center;
    padding-bottom: 5vh; /*spazio sotto tra i pulsanti e la fine dell'immagine*/
    margin-top: 20px; /*spazio tra una sezione l'altra*/
}

#fasciaImmagine {
    background-image: url("./img/watch.jpg");
    height: 50vh;
    /* imposto l'immagine come cover dell'intera sezione */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /*immagine non si ripete*/
}

h3 {
    text-align: center; /*imposto il testo centrale*/
    font-weight: lighter; /*tolgo il grassetto*/
    font-family: sans-serif;
}

#fasciaPulsanti {
    display: flex;
    justify-content: center;
}

#terzaSezione {
    background-color: #f5f5f7;
}

#quartaSezione {
    display: flex;
}

#sezioneSx {
    /* imposto immagine di sfondo centrata e tutta nella sezione  */
    background-image: url("./img/macbook_air.png");
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 80vh;
    width: 50%; /*imposto la sezione larga come metà dello schermo*/
    margin: 5px;
}

#sezioneDx {
    background-image: url("./img/ipad-pro.jfif");
    background-color: #f5f5f7;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 80vh;
    width: 50%; /*imposto la sezione larga come metà dello schermo*/
    margin: 5px;
} 



